<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="shortcut icon" href="../../public/img/favicon.ico" type="image/x-icon">
    <title>Marianna Ghiraldelli</title>
</head>
<body>
    <main>
        <header class="header">
            <figure class="logo">
                <img src="../../public/img/favicon.ico" alt="" srcset="">
            </figure>

            <nav class="nav-bar">
                <ul class="links">
                    <li class="link"><a href="./home.html">about</a></li>
                    <li class="link"><a href="">portifólio</a></li>
                    <li class="link"><a href="">linkedin</a></li>
                    <li class="link"><a href="">contato</a></li>
                </ul>
                <figure class="icons">
                    <a href="https://github.com/mmaryx"><img src="../../public/img/github.png" alt="github" srcset=""></a>
                    <a href="https://br.linkedin.com/in/marianna-ghiraldelli-008682260"><img src="../../public/img/social.png" alt="linkedin" srcset=""></a>
                    <a href="https://www.instagram.com/mmaryx_/"><img src="../../public/img/social (1).png" alt="instagram" srcset=""></a>
                </figure>
            </nav>
        </header>
        <section class="content">
            <h1 class="title">about.</h1>
            <h3 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati quidem molestiae porro optio! Voluptatum dignissimos recusandae beata</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur harum quae maxime delectus ut, odio sit maiores repudiandae repellendus non earum placeat suscipit nesciunt iure impedit ullam error cumque.</p>
        </section>

        <section class="img">
            <img src="../../public/img/image.jpg" alt="" srcset="">
        </section>

        <footer class="footer">
            <p class="technologies">Technologies</p>
            <figure class="tech-icon">
                <img src="../../public/img/html.png" alt="html" srcset="">
                <img id="teste" src="../../public/img/css.svg" alt="css" srcset="">
                <img src="" alt="js" srcset="">
                <img src="" alt="php" srcset="">
                <img src="" alt="github" srcset="">
                <img src="" alt="figma" srcset="">
            </figure>
        </footer>
    </main>
    <script src="../../public/js/script.js"></script>
</body>
</html>