<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="shortcut icon" href="../../public/img/favicon.ico" type="image/x-icon">
    <title>Marianna Ghiraldelli</title>
</head>
<body>
    <main>
        <header class="header">
            <figure class="logo">
                <img src="../../public/img/favicon.ico" alt="" srcset="">
            </figure>

            <nav class="nav-bar">
                <ul class="links">
                    <li class="link"><a id="about" href="./home.html">about</a></li>
                    <li class="link"><a href="https://github.com/mmaryx">portifólio</a></li>
                    <li class="link"><a href="https://br.linkedin.com/in/marianna-ghiraldelli-008682260">linkedin</a></li>
                    <li class="link"><a href="https://www.instagram.com/mmaryx_/">contato</a></li>
                </ul>
                <figure class="icons">
                    <a href="https://github.com/mmaryx"><img src="../../public/img/github.png" alt="github" srcset=""></a>
                    <a href="https://br.linkedin.com/in/marianna-ghiraldelli-008682260"><img src="../../public/img/social.png" alt="linkedin" srcset=""></a>
                    <a href="https://www.instagram.com/mmaryx_/"><img src="../../public/img/social (1).png" alt="instagram" srcset=""></a>
                </figure>
            </nav>
        </header>

        <section class="container">
            <div class="main-content">
                <article class="content">
                    <div class="text">
                        <h1 class="title">about.</h1>
                        <h3 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati quidem molestiae porro optio! Voluptatum dignissimos recusandae beata</h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur harum quae maxime delectus ut, odio sit maiores repudiandae repellendus non earum placeat suscipit nesciunt iure impedit ullam error cumque.</p>
                    </div>
                    <div class="tech">
                        <p class="technologies">technologies.</p>
                        <figure class="tech-icon">
                            <img src="../../public/img/html.svg" alt="html" srcset="">
                            <img src="../../public/img/css.svg" alt="css" srcset="">
                            <img src="../../public/img/js.svg" alt="js" srcset="">
                            <img src="../../public/img/php.svg" alt="php" srcset="">
                            <img src="../../public/img/git.svg" alt="github" srcset="">
                            <img src="../../public/img/figma.svg" alt="figma" srcset="">
                        </figure>
                    </div>
                </article>
        
                <article class="img">
                    <img src="../../public/img/image.jpg" alt="Marianna Ghiraldelli" srcset="">
                </article>
            </div>
        </section>
    </main>

    <script src="../../public/js/script.js"></script>
</body>
</html>